@import "tailwindcss";

@theme inline {
  --color-main: #6865e7;
  --color-black: #212122;
  --color-partners: #3d3d3d;
  --color-point2: #5f5ce5;
  --color-line: #ececee;
  --color-gray1: #f7f7f8;
  --color-gray2: #dddddf;
  --color-gray3: #c2c2c7;
  --color-gray4: #a7a7ae;
  --color-gray5: #8d8d96;
  --color-gray7: #5b5b62;
  --color-red: #ef3a2f;
  --color-green: #17aa4d;
  --color-back: #f0f0f0;
  --color-back4: #f2f2fd;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Webkit 기반 브라우저 (Chrome, Safari, Edge 등) */
::-webkit-scrollbar {
  width: 8px; /* 스크롤바 전체 너비 */
}

::-webkit-scrollbar-track {
  background: transparent; /* 트랙 숨김 */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* thumb만 보이게 */
  border-radius: 4px;
}

.ql-editor {
  padding: 0 !important;
}

.ql-container.ql-snow {
  padding: 8px 10px !important;
  background-color: #ffffff !important;
  font-size: 14px !important;
  border: 1px solid #dddddf !important;
  border-bottom-right-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}

.ql-toolbar.ql-snow {
  padding: 8px 10px !important;
  background-color: #ffffff !important;
  font-size: 14px !important;
  border: 1px solid #dddddf !important;
  border-bottom: 0px !important;
  border-top-right-radius: 6px !important;
  border-top-left-radius: 6px !important;
}

.custom-daypicker {
  font-size: 14px;
}

.rdp-month_caption {
  display: flex;
  align-items: center;
}

.rdp-root {
  --rdp-accent-color: #6865e7 !important;
  --rdp-range_middle-background-color: #e9e9fc !important;
}

.rdp-day {
  height: 40px !important;
}

body {
  line-height: 1.4;

  /* Firefox */
  scrollbar-width: thin; /* 얇은 스크롤바 */
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent; /* thumb / track */
  box-sizing: border-box;
}
